dist/
.editorconfig
.eslintignore
.gitignore
jest.config.ts
Makefile
node_modules/
package.json
pnpm-lock.yaml
postcss.config.js
.prettierignore
.prettierrc
.projectile
public/
.quasar/
quasar.config.js
README.md
tsconfig.json
.vscode/
src/pages/_static-pages/**/*.md
